# ==========================
# Python environments
# ==========================

venv-afm/
venv-ml/
biology/
.venv/
env/
ENV/

# ==========================
# Python cache
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/

# ==========================
# VSCode
# ==========================

.vscode/

# ==========================
# AFM raw data (large experimental files)
# ==========================

*.spm
*.gwy

# Only ignore large TIFF/PNG from AFM processing
Data-Conversion/Data-Display/
Data-Conversion/SPM/
Data-Conversion/GWY/
Data-Conversion/NPY/

# ==========================
# Generated / analysis outputs
# ==========================

figures/
plots/
exports/
models/
checkpoints/
*.h5
*.keras
*.ckpt
tensorboard_logs/

# ==========================
# Temporary / OS files
# ==========================

*.tmp
*.log
*.swp
.DS_Store
Thumbs.db

# ==========================
# Build / package files
# ==========================

build/
dist/
*.egg-info/

# ==========================
# LaTeX helper files
# ==========================
*.aux
*.log
*.fls
*.fbd_latexmk
*.out
*.fdb_latexmk
*.tex
*.toc